/* 
    General Styles
*/

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  color: #000;
  font-family: "Press Start 2P", cursive;
}


.card-container {
  width: 18rem;
}

.btn-more{
  width: 60%;
  margin-top: 20%;
}

.btn-fav{
  
  margin-top: 20%;
}